<h1 align="center"> Application des marsupilamis</h1>
<h3 align="center"><a href="{{ path('fos_user_security_login') }}"> Connexion</a></h3>
<h3 align="center"><a href="{{ path('fos_user_registration_register') }}"> Inscription</a></h3>